{% extends "auctions/layout.html" %}

{% block body %}

<div class="container float-left">
{% if watchlist|length != 0 %}
    {% for item in watchlist %}
        <a href="{% url 'listing' item.id %}" style="text-decoration:none; color: inherit;">
        <div class="row border-top border-bottom" >
            <div class="col-sm"><img class="pull-left" src="{{ item.imageURL }}" height="300"></div>
            <div class="col-sm">
            <h1>{{item.title}}</h1>
            {% for bid in bids %}
            {% if bid.listing == item %}
            <h2><b>${{ bid.amount }}</h2>
            {% endif %}
            {% endfor %}
            <br>
            <h3>{{item.description}}</h3>
            {% if item.winner != "None" %}
                <h3 class="text-danger">Sold</h3>
            {% else %}
                <h3 class="text-success">Available</h3>
            {% endif %}
            </div>
            <div class="col-sm"></div>
        </div></a>
    {% endfor %}
{% else %}
<h2>Nothing added to watchlist yet.</h2>
{% endif %}
</div>

{% endblock %}